body {
    font-family: Arial, sans-serif;

}

p {
    text-align: justify;
    margin: 0 1vw;
    font-size: 3vh;
}

header {
    color: #fff;
    background-color: #ffc2cd;
    text-align: center;
    padding: 1vw;
}

header a {
    text-decoration-line: none;
    color: #fff;
}

#margin-top {
    margin-top: 5rem;
}

#bold {
    font-weight: bold;
    font-size: 1.2vw;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
}

.card-row {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.flip-card {
    width: 19.5vw; /* Fixed width for each card */
    height: 61.5vh; /* Fixed height for each card */
    perspective: 1000px;
    border: 1px solid #fff;
    border-radius: 0.7vw;
    padding: 2vw;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
    border-radius: 0.7vw;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 0.7vw;
}

.flip-card-front {
    background-color: #ffc2cd;
}

.flip-card-back {
    background-color: #f9e5e6;
    color: #fff;
    transform: rotateY(180deg);
}

.flip-card-back a {
    color: #ffc2cd;
    text-decoration-line: none;
    font-size: 2vw;
}

.flip-card-back p {
    font-size: 2vh;
}
